<style type="text/css">

/* http://localhost:8012/MWA_Workshop7/index.css */



body {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
}        

a { font-style: italic; }
h1 a { font-style: italic; }

.loud { font-style: italic; } 
#highlight { background-color: yellow; }

.button {
    background-color: #4CAF50; /* White */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Blue */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}

p.thicker {
    font-weight: 900;
}

.icon{
    text-align: center;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    background-color: #58d0d4;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

input[type=submit] {
    width: 10%;
    padding: 12px 20px;
    background-color: #14bf1b;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
}

</style>